@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "DrukWide";
  src: url("../assets/fonts/Druk-Wide-Cyr.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
  font-family: "DrukWide", sans-serif;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}
a {
  text-decoration: 0;
}

button {
  cursor: pointer;
  font-family: "DrukWide";
  border: none;
  transition: all 0.4s ease;
}

.main_btn {
  height: 64px;
  padding: 0 24px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;

  color: rgb(255, 255, 255);

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.nav_wrapper {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_left {
  display: flex;
  align-items: center;
  gap: 155px;
}

.nav_menu {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 24px;
  display: flex;
  align-items: center;
  position: relative;
}
.nav_line {
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;

  background: rgb(255, 255, 255);
}

.nav_menu p {
  width: 286px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}

.lang_btn {
  width: 64px;
  height: 64px;
  padding: 0;
}

.colored_btn {
  border: 1px solid rgb(163, 133, 235);
  color: rgb(163, 133, 235);
}
.sign_btn {
  display: flex;
  align-items: center;
  gap: 68px;
}

.nav_right {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nav_right .nav_logo {
  display: none;
}
.nav_right_btns {
  display: flex;
  align-items: center;
  gap: 8px;
}

nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 22;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%);
}
header {
  position: relative;
  padding-bottom: 40px;
  margin-bottom: 96px;
  padding-top: 750px;
}

.header_bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.header_bg img {
  width: 1100px;
}

.header_content {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.block_title h2 {
  /* H1/Desktop */
  color: rgb(255, 255, 255);

  font-size: 112px;
  font-weight: 500;
  line-height: 90%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.block_top p {
  /* Subtitle/Desktop */
  color: rgb(128, 128, 128);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.header_text {
  margin: 24px 0 66px;
}

.header_text p {
  font-family: IBM Plex Mono;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
.header_text p span {
  color: rgb(163, 133, 235);
}

.header_partners {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  height: 112px;
}

.header_partners_list {
  display: flex;
  align-items: center;
  padding: 0 21px;
  padding-left: 37px;
}
.header_partners_list img {
  margin-left: -16px;
}

.plus {
  width: 56px;
  height: 56px;
  cursor: pointer;
  box-sizing: border-box;
  /* Black */
  border: 4px solid rgb(0, 0, 0);
  border-radius: 1000px;

  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -16px;
}
.plus img {
  margin: 0;
}

.partners_amount {
  padding: 0px 32px 0px 32px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.partners_amount p {
  color: rgb(255, 255, 255);
  width: 112px;
  font-size: 21.33px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.partners_amount span {
  color: rgb(128, 128, 128);
  font-family: IBM Plex Mono;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.join_btn {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  /* White */
  background: rgb(255, 255, 255);
  height: 100%;
  cursor: pointer;
  padding: 0px 32px 0px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join_btn p {
  /* Button/Desktop */
  color: rgb(0, 0, 0);

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.why_choose {
  padding: 100px 0;
  margin-bottom: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(../assets/images/why-choose-bg.png);
  background-position: center;
  background-size: cover;
}

.why_choose .block_title h2 {
  font-size: 90px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
}

.choose_right {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px; */
  width: 100%;
  height: 100%;
}
.choose_right_wrapper {
  width: 480px;
  height: 776px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1400px;
}
.choose_right .swiper-slide {
  width: 480px !important;
  height: 480px !important;
}
.circle {
  width: 480px;
  height: 480px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1000px;

  /* White */
  background: rgb(255, 255, 255);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.circle p {
  color: rgb(0, 0, 0);
  margin-bottom: 24px;
  font-size: 50px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.circle span {
  color: rgb(120, 120, 120);
  font-family: IBM Plex Mono;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.center p {
  text-align: center;
  margin-bottom: 40px;
}

.sources_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.sources_grid {
  width: 100%;
}
.sources_grid .swiper-slide {
  width: 300px !important;
}
.sources_card {
  width: 100%;
  display: flex;
  align-items: center;
  height: 300px;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  /* Black */
  background: rgb(0, 0, 0);
  transition: all 0.4s ease;
}
.sources_card:hover {
  transition: all 0.4s ease;
  background: rgba(255, 255, 255, 0.1);
}

.sources_card p {
  color: rgb(255, 255, 255);

  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.sources {
  padding-bottom: 96px;
}

.roadmap {
  padding-top: 160px;
  padding-bottom: 142px;
  margin-bottom: 96px;
}
.roadmap_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}
.roadmap_title h2 {
  /* H2/Desktop */
  color: rgb(255, 255, 255);
  font-size: 90px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
  opacity: 0.5;
  filter: blur(2px);
}

.roadmap_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.roadmap_grid_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 24px;
}
.roadmap_grid_top .roadmap_card {
  width: 32.5%;
}
.roadmap_card {
  box-sizing: border-box;

  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.03);
  height: 450px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s ease;
}

.roadmap_card:hover {
  transition: all 0.4s ease;
  background: rgb(163, 133, 235);
}

.roadmap_card h3 {
  color: rgba(255, 255, 255, 0.1);
  font-size: 54px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.roadmap_card:hover h3 {
  transition: all 0.4s ease;
  color: rgba(255, 255, 255, 0.5);
}

.roamap_link {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
}

.roamap_link p {
  color: rgb(255, 255, 255);
  font-family: IBM Plex Mono;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.roadmp_link {
  display: none;
}

.roadmp_link div {
  /* White */
  background: rgb(255, 255, 255);
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roadmap_card:hover .roadmp_link {
  display: flex;
}

.roadmap_grid .roadmap_card:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.about_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 90px;
}
.about_products {
  margin-bottom: 92px;
}

.about_card {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left: none;
  padding: 40px;
  height: 584px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
/* .about_card:nth-child(1) {
  background: url(../assets/images/about-card-1.png);
  background-size: cover;
}
.about_card:nth-child(2) {
  background: url(../assets/images/about-card-2.png);
  background-size: cover;
}
.about_card:nth-child(3) {
  background: url(../assets/images/about-card-3.png);
  background-size: cover;
} */

/* .about_card p {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
} */
.about_card p {
  /* Body Bold/Desktop */
  color: rgb(255, 255, 255);
  font-family: IBM Plex Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.about_card span {
  opacity: 0.5;
  color: rgb(255, 255, 255);
  font-family: IBM Plex Mono;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.community {
  position: relative;
}
.left_gr {
  width: 800px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%);
}
.right_gr {
  width: 800px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(270deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 100%);
}
.community_top {
  position: relative;
  z-index: 2;
}

.community_top h2 {
  /* H3/Desktop */
  color: rgb(255, 255, 255);

  font-size: 60px;
  font-weight: 500;
  line-height: 90%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

.socials a {
  height: 64px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  /* Black */
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials a:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.socials p {
  /* Button/Desktop */
  color: rgb(255, 255, 255);

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.community_gallery {
  margin-top: -124px;
}
.community_gallery img {
  width: 100%;
}

.community {
  padding-bottom: 160px;
  margin-bottom: 96px;
}

.get_offer {
  margin-bottom: 96px;
  background: url(../assets/images/offer-bg.png);
  background-size: cover;
  background-position: center;
  padding-top: 104px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.offer_block {
  padding: 60px 40px 60px 40px;
  width: 644px;
  height: 976px;
  backdrop-filter: blur(50px);
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.offer_block h2 {
  color: rgb(255, 255, 255);
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 500;
  line-height: 90%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.offer_block p {
  /* Body/Desktop */
  color: rgb(255, 255, 255);
  font-family: IBM Plex Mono;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.offer_block button {
  width: 224px;
  height: 64px;
  border: 1px solid rgb(163, 133, 235);
  justify-content: space-between;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.faq {
  padding-top: 72px;
  padding-bottom: 122px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.faq_left {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.faq_left h2 {
  color: rgb(255, 255, 255);
  font-size: 90px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.faq_btm p {
  color: rgb(128, 128, 128);
  font-family: IBM Plex Mono;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.faq_btm button {
  width: 366px;
  justify-content: space-between;
}

.faq_right {
  width: 77%;
}

.faq_item {
  padding: 32px 24px 32px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.faq_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.faq_title p {
  color: rgb(78, 78, 78);

  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.faq_btn {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 56px;
  height: 56px;
  background: transparent;
}
.faq_desc {
  width: 91%;
  padding-top: 32px;
}

.faq_desc p {
  color: rgb(255, 255, 255);
  font-family: IBM Plex Mono;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.close_btn {
  display: none;
}

.faq_desc {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 0;
}

.faq_item.active .faq_desc {
  max-height: 500px;
  padding: 10px 0;
}

.faq_btn .close_btn {
  display: none;
}
.faq_item.active .faq_btn {
  background: rgb(255, 255, 255);
}
.faq_item.active .faq_btn .open_btn {
  display: none;
}

.faq_item.active .faq_btn .close_btn {
  display: inline;
}

.faq_item.active .faq_title p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}

.footer_wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.support {
  background: url(../assets/images/support-bg.png);
  background-position: center;
  background-size: cover;
  height: 820px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.support p {
  color: rgb(255, 255, 255);
  font-size: 110px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.footer_content {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_left {
  display: flex;
  align-items: center;
  gap: 100px;
}

.footer_menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer_menu p {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.footer_right {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer_right .sign_btn {
  width: 176px;
  justify-content: space-between;
}

.footer_btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_btm p {
  color: rgb(78, 78, 78);
  font-family: IBM Plex Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: right;
  text-transform: uppercase;
}

.footer_logo img {
  width: 185.32px;
}

.products {
  padding-bottom: 160px;
  margin-bottom: 96px;
  padding-top: 160px;
}
.products_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 148px;
}
.products_top h2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.product_item {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding: 56px 0px 56px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_item h3 {
  color: rgb(128, 128, 128);
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.product_item_right {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_item_right h4 {
  color: rgb(255, 255, 255);
  font-family: IBM Plex Mono;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.white_btn {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  gap: 21px;
  display: flex;
  align-items: center;
}

.countries {
  padding-top: 164px;
  padding-bottom: 412px;
  background: url(../assets/images/About.png);
  background-position: center;
  background-size: cover;
}
.countries .block_top {
  margin-bottom: 90px;
}
.countries_content {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.countries_text p {
  color: rgba(255, 255, 255);
  opacity: 0.3;
  filter: blur(4px);
  font-size: 60px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  transition: opacity 0.5s ease, filter 0.5s ease;
}

.payments {
  display: flex;
  align-items: start;
}
.payment_item {
  width: 176px;
  height: 176px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* Black */
  background: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.payment_item:hover {
  transition: all 0.4s ease;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../assets/images/payment-bg.svg);
  background-size: cover;
  background-position: center;
}
.payments_mob {
  display: none;
}
.mob_faq_btm,
.footer_content,
.gambling_mob,
.prod_list {
  display: none;
}
.community_top h3 {
  display: none;
}

.payment_item_high {
  width: 235px;
  height: 339px;
}

.hidden_v {
  visibility: hidden;
}
.hidden_vs {
  height: 162px;
}
.mc_card {
  border-left: none;
  border-bottom: none;
}

.gambling {
  width: 100%;
  max-width: 584px;
  margin: 0 auto;
  padding: 32px;
  position: relative;
  margin-top: -120px;
}
.gambling p {
  /* H4/Desktop */
  color: rgb(255, 255, 255);
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.gambling span {
  /* Body/Desktop */
  color: rgb(128, 128, 128);
  font-family: IBM Plex Mono;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.gambling img {
  position: absolute;
}
.gamble_1 {
  top: 0;
  left: 0;
}
.gamble_2 {
  top: 0;
  right: 0;
}
.gamble_3 {
  bottom: 0;
  left: 0;
}
.gamble_4 {
  bottom: 0;
  right: 0;
}
.header_mob_btn {
  display: none;
}

@media only screen and (max-width: 450px) {
  .nav_wrapper {
    flex-direction: column;
    gap: 16px;
  }
  .nav_left .nav_logo {
    display: none;
  }
  .nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
  }
  .nav_left {
    width: 100%;
  }
  .nav_menu p {
    width: auto;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header_content,
  .why_choose,
  .products_top,
  .countries_content,
  .faq {
    flex-direction: column;
  }
  .roadmap_grid_top {
    flex-direction: column-reverse;
  }
  .roadmap_grid,
  .about_grid {
    display: flex;
    flex-direction: column;
  }
  .offer_block {
    width: 100%;
  }
  .left_gr,
  .right_gr {
    display: none;
  }
  .support p {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .block_title h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 106%;
    letter-spacing: 0%;
  }
  .why_choose .block_title h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
  }
  .roadmap_title h2 {
    opacity: 1;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    filter: blur(0);
  }
  .products_top h2,
  .offer_block h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
  }
  .countries_text p {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
  }
  .payment_item {
    width: 100%;
  }
  .community_top h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
  }
  .header_bg {
    display: none;
  }
  .nav_wrapper {
    padding: 0;
    padding-top: 10px;
  }
  .nav_menu {
    padding: 16px;
  }
  .nav_menu p {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
  }

  .sign_btn {
    gap: 27px;
  }
  .main_btn {
    padding: 16px 16px 16px 20px;
    height: 52px;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
  }
  .lang_btn {
    width: 52px;
    height: 52px;
    padding: 0;
  }
  .nav_right .nav_logo {
    display: flex;
  }
  .nav_right .nav_logo img {
    width: 120px;
  }
  .nav_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
  }
  header {
    background: url(../assets/images/header-bg-mob.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 370px;
  }
  .block_title h2 {
    text-align: left;
  }
  .header_content {
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }
  .header_content_right .block_top {
    display: none;
  }
  .header_text {
    margin: 0;
    margin-bottom: 24px;
  }
  .header_text p {
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
  }
  .header_partners .join_btn {
    display: none;
  }
  .header_partners {
    height: 80px;
    width: 100%;
  }
  .partners_amount p {
    font-size: 11.4px;
    font-weight: 500;
    line-height: 17.1px;
    width: 60px;
    margin-bottom: 7px;
  }
  .partners_amount span {
    font-size: 8px;
  }
  .header_partners_list {
    padding-left: 22px;
  }
  .partners_amount {
    padding: 0 15px;
  }
  .header_mob_btn {
    width: 169px;
    height: 46px;
    padding: 16px 20px 16px 24px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  .join_btn p {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
  }
  header {
    padding-bottom: 40px;
    margin-bottom: 0;
  }
  .why_choose {
    padding-top: 40px;
    background: transparent;
    padding-bottom: 0;
    margin-bottom: 40px;
  }
  .why_choose .block_title h2 {
    margin-bottom: 40px;
  }
  .circle {
    width: 295px;
    height: 295px;
  }
  .choose_right .swiper-slide {
    width: 295px !important;
    height: 295px !important;
  }
  .choose_right_wrapper {
    height: 296px;
    width: 100%;
  }
  .circle p {
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    margin-bottom: 16px;
  }
  .circle span {
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
  }
  .center p {
    margin-bottom: 24px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
  }
  .sources_card {
    height: 120px;
  }
  .sources_grid .swiper-slide {
    width: 120px !important;
  }
  .sources_card p {
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
  }
  .sources {
    padding-bottom: 40px;
  }
  .roadmap {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .block_top p {
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
  }
  .roadmap_top {
    margin-bottom: 16px;
  }
  .roadmap_title br,
  .roadmap_title h2:nth-child(4) {
    display: none;
  }
  .roadmap_grid_top {
    gap: 40px;
  }
  .roadmap_grid_top .roadmap_card {
    width: 100%;
  }
  .roadmap_card {
    height: auto;
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 16px;
    border-left: none;
    border-right: none !important;
    border-top: none;
    background: transparent;
  }
  .roadmap_card h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    width: 48px;
  }
  .roamap_link p {
    color: rgb(128, 128, 128);
    font-family: IBM Plex Mono;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
  .roadmap_grid {
    gap: 0;
  }
  .roadmap_grid_top {
    margin-bottom: 0;
  }
  .about_products {
    display: none;
  }
  .products {
    padding-top: 80px;
    padding-bottom: 40px;
    margin-bottom: 0;
  }
  .products_top {
    margin-bottom: 40px;
  }
  .products_top h2 {
    margin-top: 16px;
  }
  .products_top br {
    display: none;
  }
  .products_top h2 {
    display: flex;
    flex-direction: column;
  }
  .products_top h2 span {
    width: 100%;
  }
  .offer_block {
    height: auto;
    padding: 40px 24px 40px 24px;
  }
  .get_offer {
    padding-top: 280px;
  }
  .offer_block h2 {
    margin-bottom: 24px;
  }
  .offer_block h2 br {
    display: none;
  }
  .offer_block p {
    color: rgb(128, 128, 128);
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
  .offer_block button {
    padding: 16px 20px 16px 24px;
    width: 155px;
    height: 46px;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
  }
  .get_offer {
    background: url(../assets/images/offer-bg-mb.png);
    margin-bottom: 0;
  }
  .countries {
    padding-top: 40px;
  }
  .countries .block_top {
    margin-bottom: 24px;
  }

  .paymentsdesc {
    display: none;
  }
  .payments_mob {
    margin-top: 40px;
    width: 100%;
    display: block;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .gambling {
    margin: 0;
  }
  .countries {
    padding-bottom: 40px;
  }
  .payment_item {
    width: 100%;
    height: 68px;
  }
  .faq {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .faq_left,
  .faq_right {
    width: 100%;
  }
  .faq_left h2 {
    margin-bottom: 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
  .desct_faq_btm {
    display: none;
  }
  .mob_faq_btm {
    display: block;
  }

  .faq_item {
    padding: 24px 0px 24px 0px;
  }

  .faq_title p {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    width: 86%;
  }
  .faq_btn {
    width: 40px;
    height: 40px;
  }
  .faq_item.active .faq_title p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
  .faq_desc {
    padding-bottom: 0 !important;
  }
  .faq_desc p {
    color: rgb(128, 128, 128);
    font-family: IBM Plex Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
  .faq_item.active .faq_desc {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .mob_faq_btm {
    margin-top: 24px;
  }

  .faq_btm p {
    color: rgb(128, 128, 128);
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  .faq_btm button {
    width: auto;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* White */
    width: 254px;
    height: 52px;
    background: rgb(255, 255, 255);
    padding: 16px 20px 16px 24px;
    /* Button/Mobile */
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
  .support {
    height: 200px;
    margin-bottom: 40px;
  }
  .footer_wrapper {
    padding: 0;
  }
  .footer_content {
    display: block;
  }
  .footer_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .footer_menu p {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
  }
  .footer_btm_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .footer_logo img {
    width: 90px;
  }
  .footer_right .main_btn {
    width: 40px;
    height: 40px;
  }
  #scrollToTopBtn {
    width: 100%;
    justify-content: space-between;
  }
  .why_choose {
    padding-left: 8px;
    padding-right: 8px;
  }
  .community {
    padding-top: 40px;
    padding-bottom: 0;
    background: url(../assets/images/community-gallery-img-mob-2.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
  }
  .community_gallery {
    display: none;
  }
  .community_top h3 {
    display: flex;
    color: rgb(128, 128, 128);
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    margin-bottom: 308px;
  }
  .community_top h2 {
    margin-bottom: 24px;
  }
  .socials {
    display: flex;
    flex-direction: column;
  }
  .socials p {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
  }
  .socials a {
    height: 52px;
  }
  .gambling_desc {
    display: none;
  }
  .gambling_mob {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 80px;
  }
  .gambling_mob p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0%;
    margin-bottom: 30px;
  }
  .gambling_mob p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
  }
  .countries {
    background: url(../assets/images/About-mob.png);
    background-size: cover;
    background-position: center;
  }
  .products_list {
    display: none;
  }
  .prod_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .prod_item {
    position: relative;
    width: 100%;
    padding-top: 20px;
    height: 152px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .prod_item_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
  }
  .prod_item_top p {
    color: rgb(128, 128, 128);
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
  .prod_item_top span {
    color: rgba(255, 255, 255, 0.1);
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
    text-transform: uppercase;
  }
  .gamble_1,
  .gamble_2 {
    position: absolute;
  }
  .prod_item_btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
  }
  .visit_link {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 16px 16px 16px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .visit_link p {
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
  nav {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) -9.052%,
      rgb(0, 0, 0) 44.828%
    );
  }
  .nav_line {
    bottom: 0;
    top: auto;
  }

  .nav_menu,
  .socials a {
    border-left: none !important;
    border-right: none !important;
  }
  .socials a {
    border-bottom: none;
  }
  .socials a:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
